.container-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w3-bar-right, .w3-bar-item-right {
    padding:8px 16px;
    float:right;
    width:auto;
    border: none;
    outline:none;
    display:block;
}

.button-gray {
    background-color: white;
    color: black;
    border: none;
}

.button-gray:hover {
    background-color: #cfcfcf;
}

.button-transition {
    background-color: rgb(121, 121, 121); 
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.login input[type=button]{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}